@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

body, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* color palette:
rgb(52, 68, 81)
rgb(59, 65, 59)
rgb(216, 203, 176)
rgb(93, 118, 123)
rgb(145, 189, 214) */

body {
    font-family: 'Raleway';
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

header {
    display: flex;
    justify-content: center;
    background-image: url("glacierHike.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%, 10rem;
    height: 10rem;
    padding-bottom: 1rem;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.log-in {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: hsla(270, 82%, 39%, .2);
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

form .old-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

.log-in > section {
    display: flex;
    flex-flow: row nowrap;
}

section > h3{
    padding: 1rem;
}

section > a {
    margin: auto;
    text-align: center;
}

section > a:link {
    background-color: hsla(334, 65%, 81%, .8);
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px hsl(0, 0%, 100%);
    padding: 14px 25px;
    border-radius: 1rem;
    color: rgb(98, 18, 179);
}

section > a:visited {
    color: hsl(270, 82%, 39%);
    text-shadow: 2px 2px 4px hsl(0, 0%, 100%);

}

section > a:hover {
    color: hsl(288, 62%, 60%);
    text-shadow: 2px 2px 4px hsl(0, 0%, 100%);

}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    padding: 1rem 5%;
    background-color:hsla(207, 22%, 26%, .1);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#query > input {
    margin-left: 5px;
    width: 1rem;
    padding: 10px 0;
    padding-left: 44px;
    background-color:  hsla(270, 82%, 39%, .08);
    background-image: url('search-icon.png');
    background-size: 30px;
    background-position: 5px 3px;
    background-repeat: no-repeat;
    border-style: ridge;
    border-width: 3px;
    border-color: hsla(40, 34%, 77%, .5);
    border-radius: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 15px;
}

#query > input[type=text]:focus {
    border-color: white;
    color: white;
    width: 20rem;
    outline: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.difficulty-rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

.difficulty-rating label {
    margin: auto;
    text-align: center;
    padding-right: 5px;
    text-shadow: 2px 2px 4px #000000;
}

.difficulty-rating > li {
    padding: 10px 20px;
    margin:  5px;
    background-color: hsla(270, 82%, 39%, .08);
    border-style: ridge;
    border-width: 3px;
    border-color: hsla(40, 34%, 77%, .5);
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.difficulty-rating > li:hover{
    background-color: hsla(207, 22%, 26%, .8);
}

li.active {
    background-color: hsla(207, 22%, 26%, .8);
}

.card-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; 
    padding: 2rem ;
    margin: auto;
    width: 90%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: hsla(207, 22%, 26%, .8);
    color: rgb(216, 203, 176);
    padding: 1rem 1rem;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 100%;
    height: 50%;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.card a:link, a:visited {
    color: rgb(216, 203, 176);
    text-decoration: none;
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

.card a:hover {
    color: white;
    transition: .5s;
}

.card i {
    align-self: right;
    order: -1;
    padding-bottom: 1rem;
    color: hsla(57, 100%, 50%, 1);
    cursor: pointer;
}


.card i:hover {
    color: hsl(216, 83%, 81%);
    transition: 0.5s; 
}

.card i:active {
    color: rgb(255, 0, 43);
}

