@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');


body, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* color palette:
rgb(52, 68, 81)
rgb(59, 65, 59)
rgb(216, 203, 176)
rgb(93, 118, 123)
rgb(145, 189, 214) */

body {
    font-family: 'Raleway';
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

header {
    display: flex;
    justify-content: center;
    background-image: url("glacierHike.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%, 10rem;
    height: 10rem;
    padding-bottom: 1rem;
    background-color: hsla(270, 82%, 39%, .2)
}

h1 {
    color: white;
    text-shadow: .5px .5px 2px black, 0 0 25px rgb(149, 188, 233), 0 0 5px rgba(51, 67, 80, 0.856);
}

.log-in {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: hsla(270, 82%, 39%, .2);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#user > input[type='radio'] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#user label {
    display: inline-block;
    text-align: center;
    background-color:hsla(207, 22%, 26%, .3);
    border: 2px ridge hsla(40, 34%, 77%, .5);
    width: 10rem;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 4px;
}

#user label:hover, #username:hover{
    border-color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

#username {
    width: 70%;
    background: hsla(207, 22%, 26%, .3);
    border: 2px ridge hsla(40, 34%, 77%, .5);
    font-size: 1rem;
    color: white;
    font-family: 'Raleway';
    text-shadow: 2px 2px 4px #000000;
    margin-top: 7px;
    padding-left: 1rem;
}

#username::placeholder{
    color: hsla(40, 34%, 77%, .9);
}

.log-in div label{
    margin: 5px;
}

form .old-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

.log-in > section {
    display: flex;
    flex-flow: row nowrap;
}

section > h3{
    padding: 1rem;
}

section > a {
    margin: auto;
    text-align: center;
}

section > a:link {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:hsla(207, 22%, 26%, .3);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: ridge;
    border-width: 3px;
    border-color: hsla(40, 34%, 77%, .5);
    box-shadow: 1px 1px 5px black;
}

section > a:visited {
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

section > a:hover {
    border-style:ridge;
    border-color: white;
    transition: .5s;
    border-width: 2px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color:hsla(207, 22%, 26%, .3);
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    padding: 1rem 5%;
    background-color:hsla(207, 22%, 26%, .1);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#query > input {
    margin-left: 5px;
    width: 1rem;
    padding: 10px 0;
    padding-left: 44px;
    background-color:  hsla(270, 82%, 39%, .08);
    background-image: url('search-icon.png');
    background-size: 30px;
    background-position: 5px 3px;
    background-repeat: no-repeat;
    border-style: ridge;
    border-width: 3px;
    border-color: hsla(40, 34%, 77%, .5);
    border-radius: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 15px;
}

#query input:hover{
    background-color: hsla(207, 22%, 26%, .5);
    border-color: white;
    transition: .5s;
    transform: scale(1.05);
}

#query > input[type=text]:focus {
    border-color: white;
    color: white;
    width: 20rem;
    outline: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: rgba(51, 67, 80, 0.356);

}

.difficulty-rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

.difficulty-rating label {
    margin: auto;
    text-align: center;
    padding-right: 5px;
    text-shadow: 2px 2px 4px #000000;
}

.difficulty-rating > li {
    padding: 10px 20px;
    margin:  5px;
    background-color: hsla(270, 82%, 39%, .08);
    border-style: ridge;
    border-width: 3px;
    border-color: hsla(40, 34%, 77%, .5);
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.difficulty-rating > li:hover{
    background-color: hsla(207, 22%, 26%, .5);
    border-color: white;
    transition: .5s;
    transform: scale(1.05);
}

li.active {
    background-color: hsla(207, 22%, 26%, .5);
    border-color: white;
}

.card-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; 
    padding: 2rem ;
    margin: auto;
    width: 90%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    background: hsla(207, 22%, 26%, .8);
    color: rgb(216, 203, 176);
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    border-style:ridge;
    border-color: white;
    transition: .2s;
    border-width: 2px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: 150px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.card a:link, a:visited {
    color: rgb(216, 203, 176);
    text-decoration: none;
    text-shadow: 1px 2px 4px rgb(0, 0, 0);
    font-size: 25px;
}

.card a:link:hover {
    transform: scale(1.02);
}

.card a:hover {
    color: white;
    transition: .5s;
}

.card i {
    align-self: right;
    order: -1;
    padding-bottom: 1rem;
    color: hsla(57, 100%, 50%, 1);
    cursor: pointer;
}


.card i:hover {
    color: hsl(216, 83%, 81%);
    transition: 0.05s;
    transform: scale(1.05);
}

.card i:active {
    color: hsla(57, 100%, 50%, 1);
    z-index: 1;
    transform: scale(1.5);
    transition: .05s;
}

.more {
    display: none;
    font-size: 16px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.more ul{
    margin: auto;
    width: 90%;
    text-align: center;
}

.more li{
    padding: 5px;
}

.moreButton {
    margin: 1rem auto;
    background-color: hsla(196, 42%, 88%, .7);
    border: none; 
    border-radius: 5px;
    color: hsl(198, 100%, 5%);
    text-decoration: none;
    font-size: 12px;
    font-family: 'Raleway';
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.moreButton:hover {
    color: hsl(200, 25%, 74%);
    background-color: hsl(198, 100%, 5%);
    transition: .3s;
    cursor: pointer;
    transform: scale(1.05);
}

.moreButton:active {
    border-color: white;
    color: white;
    outline: none;
}