@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    font-family: 'Raleway';
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

header {
    display: flex;
    justify-content: center;
    background-image: url("glacierHike.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%, 10rem;
    height: 10rem;
    padding-bottom: 1rem;
    background-color:  hsla(270, 82%, 39%, .2);
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color:  hsla(270, 82%, 39%, .2);
    margin-bottom: 2rem;
}

nav > a:link {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
    border-radius: 1rem;
    background-color:hsla(207, 22%, 26%, .3);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: ridge;
    border-width: 3px;
    border-color: hsla(40, 34%, 77%, .5);
    box-shadow: 1px 1px 5px black;
}

nav > a:visited {
    color: hsla(40, 34%, 77%, .5);
    text-shadow: 2px 2px 4px #000000;
}

nav > a:hover {
    bborder-style:ridge;
    border-color: white;
    transition: .5s;
    border-width: 2px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color:hsla(207, 22%, 26%, .3);
}

.profile-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; 
    margin: auto;
    width: 90%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(52, 68, 81);
    color: rgb(216, 203, 176);
    padding: 1rem 1rem;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 100%;
    height: 150px;
    padding-top: 1rem;
}

.card a:link, a:visited {
    text-decoration: none;
    color: rgb(216, 203, 176);
    text-shadow: 1px 2px 4px rgb(0, 0, 0);
    font-size: 25px;
}

.card p {
    margin-bottom: 8px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.card ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.card li {
    padding: 5px;
}

.card i {
    align-self: right;
    order: 1;
    padding-bottom: 1rem;
    color: hsl(145, 48%, 60%);
    cursor: pointer;
}

.card i:hover {
    color: hsl(125, 53%, 46%);
}

.card i:active {
    color: rgb(255, 0, 0);
}

